* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #263238;
    color: gainsboro;
}

.canvas-container,
.svg-container,
.text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: 2px solid crimson;
}